@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
  height: 100%;
  width: 100%;
}
body {
  font-family:'Oswald', sans-serif;
  text-align: center;
  padding-top: 20vh
}
img#logo {
  width: 150px;
}